theme-color-green = #4caf50
theme-color-blue = #2196F3
theme-color-brown = #795548

body
  display flex
  min-height 100vh
  flex-direction column

main
  flex 1 0 auto
  
.btn, .btn-large, .btn-flat
	text-transform none !important

.btn-block
	width: 100%

[type="checkbox"].filled-in:checked+label:after
	border 2px solid theme-color-green !important
	background-color theme-color-green !important

.input-field .prefix.active
	color theme-color-blue !important

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
	color theme-color-blue !important

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
	border-bottom 1px solid theme-color-blue !important
	box-shadow 0 1px 0 0 theme-color-blue !important

input[type=text]+label:after, input[type=password]+label:after, input[type=email]+label:after, input[type=url]+label:after, input[type=time]+label:after, input[type=date]+label:after, input[type=datetime-local]+label:after, input[type=tel]+label:after, input[type=number]+label:after, input[type=search]+label:after, textarea.materialize-textarea+label:after
	width 500px !important
	text-align left

input[type=search]+label:after, textarea.materialize-textarea+label:after
	top 110px !important

.dropdown-content
	min-width 125px !important
	
.browser-default
	border 1px solid theme-color-blue

.notification-icon:hover
	-webkit-transform rotate(20deg)
	transform rotate(20deg)

.notification-header
	max-height 20px !important

#notification-dropdown
	min-width 300px !important

.link-btn:hover
	background-color whitesmoke

nav ul li.active, button.active
	background-color theme-color-green !important
	color white !important
	a
		color white !important

nav ul li
	a
		img
			margin-bottom -10px
			
img.thumbnail
	border 1px solid lightgray
	border-radius 10px
	background-color whitesmoke
	padding 5px
	
thead
	cursor pointer
	
img.thumbnail:hover
	cursor pointer
	
.edit-image-icon
	position absolute
	cursor pointer

.cropArea
	width 360px
	height 360px
	background-color whitesmoke
