.row.animated.fadeInDown
	.card.col.s12.m10.l6.offset-m1.offset-l3
		.card-content
			img(src="images/logo-rectangle.png" width="30%")
			//- h5 Register with
			//- a(href="" style="margin-right: 10px").btn.indigo.darken-2.fa.fa-facebook-official  Facebook
			//- a(href="").btn.red.darken-1.fa.fa-google-plus-square  Google
			//- .row
			//- h5 or make your 
			//- 	b 
			//- 		b A
			//- 	| ctegrator account
			form(name="registerForm" ng-submit="register()")
				.input-field.col.s6
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Very_Basic/contacts-48.png" title="Contacts" width="48").prefix
					input(type="text" id="firstname" ng-model="user.firstname" required)
					label(for="firstname") Firstname
				.input-field.col.s6
					input(type="text" id="lastname" ng-model="user.lastname" required)
					label(for="lastname") Lastname
				.input-field.col.s12
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Music/autograph-48.png" width="48").prefix
					input(type="text" id="username" ng-model="user.username" required pattern="[A-Za-z0-9]{4,}" ng-change="checkDupUsername()").validate
					label(for="username" data-error="username must contain only letters or numbers at least 4 characters." data-success="available") Username
				.input-field.col.s6
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Security/key_2-48.png" title="Key 2" width="48").prefix
					input(type="password" id="password" name="password" ng-model="user.password" required pattern=".{6,}").validate
					label(for="password" data-error="at least 6 characters" data-success="okay") Password
				.input-field.col.s6(ng-hide="!registerForm.password.$valid")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Very_Basic/lock_2-48.png" title="Lock 2" width="48").prefix
					input(type="password" id="confirm" ng-model="confirm" required ng-change="isMatch()")
					label(for="confirm" data-error="password mismatch!" data-success="match" ng-hide="") Confirm Password
				.input-field.col.s12
					img(src="https://maxcdn.icons8.com/Color/PNG/48/User_Interface/email-48.png" title="Email" width="48").prefix
					input(type="email" id="email" ng-model="user.email.address" required ng-change="checkDupEmail()").validate
					label(for="email" data-error="E-Mail is invalid!" data-success="available") E-Mail
				.row
				button(type="submit" ng-hide="!registerForm.$valid").btn.brown.btn-block REGISTER as a new Actegrator!
			br
			a(href="" ng-click="isRegister = false; back();").grey-text Go Back