.col.m9.user-profile-form.animated.fadeInLeft
	a(ng-click="isEdit = true" ng-show="current_user == user_info.username" ng-hide="isEdit").btn.blue.right 
		.fa.fa-edit.fa-lg
		|  Edit Profile
	a(ng-click="addFriend()" ng-hide="current_user == user_info.username").btn.blue.right 
		.fa.fa-user-plus.fa-lg
		|  Add Friend
	br
	br
	form(name="userProfileForm" ng-submit="saveProfile()" ng-init="isEdit = false")
		fieldset(ng-disabled="!isEdit")
			.card-title.black-text Public Profile
			.input-field.col.s6
				small.grey-text Firstname
				input(type="text" id="firstname" ng-model="user_info.firstname")
			.input-field.col.s6
				small.grey-text Lastname
				input(type="text" id="lastname" ng-model="user_info.lastname")
			.input-field.col.s6
				small.grey-text Gender
				select(ng-model="user_info.gender").browser-default
					option(value="" disabled selected) Select your gender
					option(value="Male") Male
					option(value="Female") Female
					option(value="Other") Other
			.input-field.col.s6
				small.grey-text Education Level
				select(ng-model="user_info.education_level").browser-default
					option(value="" disabled selected) Select your highest education
					option(value="Elementary") Elementary
					option(value="Middle School") Middle School
					option(value="High School") High School
					option(value="Vocational School") Vocational School
					option(value="College") College
					option(value="Undergraduate") Undergraduate (Bacherlor's)
					option(value="Graduate") Graduate (Master's)
					option(value="Doctoral") Doctoral Degree (Ph.D)
			.input-field.col.s12
				small.grey-text Birthdate
				input(type="date" ng-model="user_info.birthdate")
			.input-field.col.s6
				small.grey-text Location
				input(type="text" id="location" ng-model="user_info.location")
			.input-field.col.s6
				small.grey-text School
				input(type="text" id="school" ng-model="user_info.school")
			.input-field.col.s12
				small.grey-text Bio (About Me)
				textarea.materialize-textarea(id="textarea" length="160" ng-model="user_info.bio").validate
				label(for="textarea" data-error="maximum 160 characters")
			.card-title.black-text(ng-show="isEdit || user_info.email.show") Contacts
			div(ng-show="isEdit || user_info.email.show")
				.input-field.col.s9
					small.grey-text E-Mail
					input(type="email" ng-model="user_info.email.address")
			div(ng-show="isEdit")
				.input-field.col.s3
					input(type="checkbox" id="showEmail" ng-model="user_info.email.show").filled-in
					label(for="showEmail") Show your email?
				.input-field.col.s12
					small.grey-text Facebook Account
					input(type="text" ng-model="user_info.fb_link" placeholder="http://www.facebook.com/youraccout")
				.input-field.col.s12
					small.grey-text Instagram Account
					input(type="text" ng-model="user_info.ig_link" placeholder="username")
				.input-field.col.s12
					small.grey-text Twitter Account
					input(type="text" ng-model="user_info.tw_link" placeholder="@username")
		center
			.row
			button(type="submit" ng-click="isEdit = false" ng-show="isEdit" ng-hide="!isEdit").btn.green
				.fa.fa-save.fa-lg
				|  Update