doctype html
html(ng-app="actegrateApp" ng-controller="MainCtrl")
head
  base(href="/")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title {{title}} | Actegrate the Online Academic Integration website
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width")
  // Place favicon.ico and apple-touch-icon.png in the root directory
  // build:css styles/vendor.css
  // bower:css
  link(rel='stylesheet', href='bower_components/animate.css/animate.css')
  link(rel='stylesheet', href='bower_components/ng-img-crop/compile/minified/ng-img-crop.css')
  // endbower
  // endbuild
  // build:css(.tmp) styles/main.css
  link(rel="stylesheet", href="styles/main.css")
  // endbuild
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css")
body.blue-grey.lighten-4
  navigation(ng-show="showNav")
  main(ng-view)

  footer.animated.fadeInUp
      h6.center-align 
        strong A
        | ctegrate &copy 2015
        p Actegrate the Online Academic Integration website
      a.right(href="https://icons8.com" target="_blank").grey-text.lighten-2 Icon pack by Icons8


  // Google Analytics: change UA-XXXXX-X to be your site's ID
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');

  <!--[if lt IE 9]>
  script(src="bower_components/es5-shim/es5-shim.js")
  script(src="bower_components/json3/lib/json3.min.js")
  <![endif]-->

  // build:js scripts/vendor.js
  // bower:js
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/es5-shim/es5-shim.js')
  script(src='bower_components/json3/lib/json3.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-animate/angular-animate.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-touch/angular-touch.js')
  script(src='bower_components/ng-img-crop/compile/minified/ng-img-crop.js')
  // endbower
  // endbuild

  // build:js(.tmp) scripts/main.js
  script(src="scripts/app.js")
  script(src="scripts/controllers/main.js")
  script(src="scripts/directives/navigation.js")
  script(src="scripts/directives/register-form.js")
  script(src="scripts/directives/login-form.js")
  script(src="scripts/controllers/profile.js")
  script(src="scripts/controllers/navbar.js")
  script(src="scripts/directives/user-profile.js")
  script(src="scripts/directives/cards-collection.js")
  script(src="scripts/directives/discussion.js")
  script(src="scripts/directives/graded-work.js")
  script(src="scripts/directives/friends-leaderboard.js")
  script(src="scripts/directives/activities.js")
  script(src="scripts/directives/image-upload.js")
  script(src="scripts/controllers/admin.js")
  script(src="scripts/controllers/settings.js")
  script(src="scripts/directives/users-crud-form.js")
  script(src="scripts/controllers/help.js")
  script(src="scripts/controllers/courses.js")
  // endbuild

  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js")
