.row.animated.fadeInDown
	.card.col.s12.l10.offset-l1
		.card-content
			span.card-title.black-text @{{user_info.username}}'s Profile
				.right.blue-text Actecoins: {{user_info.points[0]}} 
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Ecommerce/expensive_2-48.png" title="actecoins" width="24")
		.divider(style="margin-bottom:15px")
		.row(ng-init="showing = 'user-profile'")
			.col.m3.sidenav
				center(ng-show="current_user == user_info.username" ng-click="showing = 'image-upload'")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Photo_Video/edit_image-48.png" title="Edit Image" width="48" ng-show="showEdit" ng-mouseenter="showEdit = true").edit-image-icon
					img(ng-src="images/avatars/{{user_info.avatar}}" alt="profile image" width="148px" height="148px" data-position="right" data-delay="50" data-tooltip="change avatar" ng-mouseleave="showEdit = false" ng-mouseenter="showEdit = true").thumbnail.tooltipped.hoverable
				center(ng-hide="current_user == user_info.username")
					img(ng-src="images/avatars/{{user_info.avatar}}" alt="profile image" width="148px" height="148px").thumbnail
				br
				a(href="{{user_info.fb_link}}" ng-show="user_info.fb_link != undefined && user_info.fb_link != ''")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Social_Networks/facebook-48.png" title="Facebook" width="36")
				a(href="{{user_info.ig_link}}" ng-show="user_info.ig_link != undefined && user_info.ig_link != ''")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Social_Networks/instagram-48.png" title="Instagram" width="36")
				a(href="http://twitter.com/{{user_info.tw_link}}" ng-show="user_info.tw_link != undefined && user_info.tw_link != ''")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Social_Networks/twitter-48.png" title="Twitter" width="36")
				br
				button(ng-click="showing = 'user-profile'" ng-class="{'active':showing == 'user-profile'}").btn-flat.btn-block.waves-effect.waves-green.link-btn.active
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Messaging/contact_card-48.png" title="Contact Card" width="34").left
					| Profile Summary
				.divider
				button(ng-click="showing = 'recent-activity'" ng-class="{'active':showing == 'recent-activity'}").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/User_Interface/details-48.png" title="Details" width="34").left
					| Recent Activity
				.divider
				button(ng-click="showing = 'cards-collection'" ng-class="{'active':showing == 'cards-collection'}").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Gaming/cards-48.png" title="Cards" width="34").left
					| Cards Collection
				.divider
				button(ng-click="showing = 'discussion'" ng-class="{'active':showing == 'discussion'}").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Messaging/speech_bubble-48.png" title="Speech Bubble" width="34").left
					| Discussion
				.divider
				button(ng-click=";showing = 'graded-work'" ng-class="{'active':showing == 'graded-work'}").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Science/exam-48.png" title="Exam" width="34").left
					| Graded Work
				.divider
				button(ng-click="showing = 'friends-leaderboard'" ng-class="{'active':showing == 'friends-leaderboard'}").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Sports/leaderboard-48.png" title="Leaderboard" width="34").left
					| Friends Leaderboard

			image-upload(ng-show="showing == 'image-upload'")
			user-profile(ng-show="showing == 'user-profile'")
			activities(ng-show="showing == 'recent-activity'")
			cards-collection(ng-show="showing == 'cards-collection'")
			discussion(ng-show="showing == 'discussion'")
			graded-work(ng-show="showing == 'graded-work'")
			friends-leaderboard(ng-show="showing == 'friends-leaderboard'")
