.row.animated.fadeInDown
	.card.col.s12.l10.offset-l1
		.card-content
			span.card-title.black-text @{{user_info.username}}'s Profile
				.right.blue-text Actecoins: {{user_info.points[0]}} 
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Ecommerce/expensive_2-48.png" title="actecoins" width="24")
		.divider(style="margin-bottom:15px")
		.row
			.col.m3.sidenav
				center
					img(ng-src="images/avatars/{{user_info.avatar}}" alt="profile image" width="128px" height="128px" data-position="right" data-delay="50" data-tooltip="change avatar").thumbnail.tooltipped
				br
				a(href="{{user_info.fb_link}}" ng-show="user_info.fb_link != undefined && user_info.fb_link != ''")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Social_Networks/facebook-48.png" title="Facebook" width="36")
				a(href="{{user_info.ig_link}}" ng-show="user_info.ig_link != undefined && user_info.ig_link != ''")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Social_Networks/instagram-48.png" title="Instagram" width="36")
				a(href="http://twitter.com/{{user_info.tw_link}}" ng-show="user_info.tw_link != undefined && user_info.tw_link != ''")
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Social_Networks/twitter-48.png" title="Twitter" width="36")
				br
				button(ng-click="clicked($event)").btn-flat.btn-block.waves-effect.waves-green.link-btn.active
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Messaging/contact_card-48.png" title="Contact Card" width="34").left
					| Profile Summary
				.divider
				button(ng-click="clicked($event)").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/User_Interface/details-48.png" title="Details" width="34").left
					| Recent Activity
				.divider
				button(ng-click="clicked($event)").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Gaming/cards-48.png" title="Cards" width="34").left
					| Cards Collection
				.divider
				button(ng-click="clicked($event)").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Messaging/speech_bubble-48.png" title="Speech Bubble" width="34").left
					| Discussion
				.divider
				button(ng-click="clicked($event)").btn-flat.btn-block.waves-effect.waves-green.link-btn
					img(src="https://maxcdn.icons8.com/Color/PNG/48/Sports/leaderboard-48.png" title="Leaderboard" width="34").left
					| Friends Leaderboard
			.col.m9.user-profile-form
				a(ng-click="isEdit = true" ng-show="current_user == user_info.username" ng-hide="isEdit").btn.blue.right Edit Profile
				br
				br
				form(name="userProfileForm" ng-submit="saveProfile()" ng-init="isEdit = false")
					fieldset(ng-disabled="!isEdit")
						.card-title.black-text Public Profile
						.input-field.col.s6
							small.grey-text Firstname
							input(type="text" id="firstname" ng-model="user_info.firstname")
						.input-field.col.s6
							small.grey-text Lastname
							input(type="text" id="lastname" ng-model="user_info.lastname")
						.input-field.col.s6
							small.grey-text Gender
							select(ng-model="user_info.gender").browser-default
								option(value="" disabled selected) Select your gender
								option(value="Male") Male
								option(value="Female") Female
								option(value="Other") Other
						.input-field.col.s6
							small.grey-text Education Level
							select(ng-model="user_info.education_level").browser-default
								option(value="" disabled selected) Select your highest education
								option(value="Elementary") Elementary
								option(value="Middle School") Middle School
								option(value="High School") High School
								option(value="Vocational School") Vocational School
								option(value="College") College
								option(value="Undergraduate") Undergraduate (Bacherlor's)
								option(value="Graduate") Graduate (Master's)
								option(value="Doctoral") Doctoral Degree (Ph.D)
						.input-field.col.s12
							small.grey-text Birthdate
							input(type="datetime" ng-model="user_info.birthdate")
						.input-field.col.s6
							small.grey-text Location
							input(type="text" id="location" ng-model="user_info.location")
						.input-field.col.s6
							small.grey-text School
							input(type="text" id="school" ng-model="user_info.school")
						.input-field.col.s12
							small.grey-text Bio (About Me)
							textarea.materialize-textarea(id="textarea" length="160" ng-model="user_info.bio").validate
							label(for="textarea" data-error="maximum 160 characters")
						.card-title.black-text Contacts
						div(ng-show="isEdit || user_info.email.show")
							.input-field.col.s9
								small.grey-text E-Mail
								input(type="email" ng-model="user_info.email.address")
						div(ng-show="isEdit")
							.input-field.col.s3
								input(type="checkbox" id="showEmail" ng-model="user_info.email.show").filled-in
								label(for="showEmail") Show your email?
							.input-field.col.s12
								small.grey-text Facebook Account
								input(type="url" ng-model="user_info.fb_link" placeholder="http://www.facebook.com/youraccout")
							.input-field.col.s12
								small.grey-text Instagram Account
								input(type="url" ng-model="user_info.ig_link" placeholder="http://www.instagram.com/yourusername")
							.input-field.col.s12
								small.grey-text Twitter Account
								input(type="url" ng-model="user_info.tw_link" placeholder="@username")
					center
						.row
						button(type="submit" ng-click="isEdit = false" ng-show="isEdit" ng-hide="!isEdit").btn.green Update
